@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::webkit-scrollbar {
    display: none;
}

*::-webkit-scrollbar {
    display: none;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family:
        Helvetica Neue,
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        Fira Sans,
        Droid Sans,
        sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.link-underline {
    position: relative;
}
.link-underline:after {
    bottom: 15px;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #b8e1fb;
    transition:
        width 0.3s ease 0s,
        left 0.3s ease 0s;
    width: 0;
}
.link-underline:hover:after {
    width: 100%;
    left: 0;
}
